{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/search.css') }}">
{% endblock %}

{% block title %}Search{% endblock %}

{% block body %}
<center>
    <header>
        <ul>
          <h2><li><a style="border:1px solid black; background:blue;text-color:white;" href="https://github.com/malimba">malimba's git repo</a></li></h2>
          </ul>
    </header>
    <div class="logo">
      <h1>[̲̅p][̲̅i][̲̅s][̲̅e][̲̅a][̲̅r][̲̅c][̲̅h]</h1>
    </div>
    <div class="bar">
      <input class="searchbar" type="text" title="Search">
      <a href="#"> <img class="voice" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png" title="Search by Voice"></a>
    </div>
    </center>
{% endblock %}

